GOOGLE_CLOUD_PROJECT=syncagent-506417
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=TRUE

CLICKHOUSE_HOST=your-clickhouse-host
CLICKHOUSE_USER=your-clickhouse-user
CLICKHOUSE_PASSWORD=your-clickhouse-password
