# Virtual environment
.venv/
venv/
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env
frontend/.env

# Google credentials
*.json
*.log
build/
dist/
*.tsbuildinfo

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db